#content-grid {
  display: grid;
  grid-template-areas: "menu toggle content";
  grid-template-columns: 200px 32px 1fr;
  transition: transform 500ms ease-in-out;
  
  &:has(#menu-toggle:not(:checked)) {
    transform: translateX(-200px);
    width: calc(100% + 200px);
  }
  
  &:has(#menu-toggle:checked) {
    transform: translateX(0px);
    width: 100%;
  }
}

#main-menu-container {
  grid-area: menu;
  
  #main-menu {
    min-height: 100vh;
    padding: 0 1.5rem 1.5rem;
    position: relative;
    width: max-content;
    
    li {
      display: block;
    }
  }
}

#menu-toggle-container {
  grid-area: toggle;
  text-align: center;
  
  svg {
    cursor: pointer;
    display: inline-block;
  }
  
  #menu-toggle {
    &:not(:checked) + label {
      .closer {
        display: none;
      }
    }
    
    &:checked + label {
      .opener {
        display: none;
      }
      
      .closer {
        display: inline-block;
      }
    }
  }
  
  .site-title {
    font-family: $mono;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
  }
}

#content-container {
  grid-area: content;
}