
#menu-toggle {
  & + label {
    position: absolute;
    right: 0;
    top: 0;
    
    svg {
      cursor: pointer;
      display: inline-block;
    }
  }
  
  &:not(:checked) + label {
    .closer {
      display: none;
    }
  }
  
  &:checked + label {
    .opener {
      display: none;
    }
    
    .closer {
      display: inline-block;
    }
  }
}

#main-menu {
  min-height: 100vh;
  padding: 0 1.5rem 1.5rem;
  position: relative;
  width: max-content;
  
  li {
    display: block;
  }
}