header.banner {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 128px 1fr;
  grid-template-areas:
    "logo page-title"
    "logo menu";
  
  .logo {
    grid-area: logo;
  }
  
  #page-title {
    align-self: end;
    font-weight: bold;
    font-family: $headline;
    font-size: 1.75rem;
    grid-area: page-title;
    line-height: 1;
    margin: 0;
  }
  
  .menu {
    grid-area: menu;
    
    a {
      margin: 0 1rem;
      text-decoration: none;
    }
    
    li {
      border-right: 1px solid $black;
      
      &:first-child a {
        margin-left: 0;
      }
      
      &:last-child {
        border-right-style: none;
      }
    }
  }
}