html, body {
  box-sizing: border-box;
  color: $black;
  font: normal 125%/1.6 $body; // usually 20px
  height: 100%;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  &:link,
  &:visited {
    color: $purple;
  }
  
  &:active,
  &:focus,
  &:hover {
    color: $yellow;
  }
}

body {
  font-size: rem(18px);
  position: relative;
}

ul.menu {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}